**/.env
**/bin/
**/obj/
**/publish/
**/build/
**/release/
**/coverage/
**/.idea/
**/.vs/
**/node_modules/
**/*.sln.DotSettings.user
!test/MikeyT.DbMigrations.Test/.env
test/MikeyT.DbMigrations.Test/TestResults/
